{% extends "layout.html" %}
{% block content%}
<section id="home">
    <h1>Language Translator</h1>
    <div class="container home">
        <div class="card border-dark text-white bg-dark mb-3 mx-auto" style="width: 18rem;">
            <div class="card-body">
              <h6 class="card-title">Dr.Lalita Gupta</h6>
              <p class="card-subtitle mb-2 text-muted">Project Mentor</p>
              <p class="card-text">Lalita Gupta, Associate professor at MANIT with 15 years of Experience</p>
              <a href="http://www.manit.ac.in/content/dr-lalita-gupta" class="card-link">Profile</a>
            </div>
          </div>
    </div>
    <div class="container-fluid mainpage">
      <div class="row">
          <div class="col-md-4">
            <div class="card text-white bg-dark mb-3">
                <h6 class="card-header">Kallakuri Anirudh</h6>
                <div class="card-body">
                  <p class="card-text">Junior year undergraduate in ECE department at MANIT</p>
                  <p class="card-text">Key-Skills : Machine Learning,Python</p>
                  
                </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="card text-white bg-dark mb-3">
                <h6 class="card-header">Anirudh Ravi</h6>
                <div class="card-body">
                  <p class="card-text">Junior year undergraduate in ECE department at MANIT</p>
                  <p class="card-text"> Key-Skills : Web-Development,Python,Flask</p>
                  
                </div>
              
            </div>  
          </div>
      </div>
  </div>
</section>


{% endblock content %}