{% extends "layout.html" %}
{% block content %}
<section id="text">
  <h1>Text Translator</h1>
  <div class="container-fluid">
    <form action=" {{ url_for('translate') }}" method="POST">
      <div class="row">
        <div class="col-md-4">
          <textarea name="input_text" id="text_area" cols="40" rows="5" placeholder="Enter Your Text"></textarea>

        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" name="input_language" placeholder="Language To be Translated to">
      
        </div>
        <div class="col-md-4">
          <h2>Translated Text </h2>
          <h3> {{output_text}} </h3>
         
        </div>

      </div>
       <button type="submit" value="submit" class="btn btn-dark">Translate</button>
    </form>


  </div>






  {% endblock content %}